* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    justify-content: center;
   
    height: 100vh;
    width: 50px;
    font-family: 'Ubuntu', sans-serif;
	background-color: royalblue;
}



